{% extends "base.html" %}

{% block content %}
    <p align="right"><font color="white">Logged as {{ full_name }} </font></p>
    <p align="right"><a href="/logout/">Logout</a></p>
    <div class="card card-container">
        <p>Monitor creation form</p>

        {% if error %}
            <p>{{ error }}</p>
        {% endif %}

        <form action="/create_monitor/" method="post">{% csrf_token %}
            <label for="monitor_name">Monitor name</label>
            <input type="text" name="monitor_name" value="" id="monitor_name">
            <label for="monitor_domain">Monitor domain</label>
            <input type="text" name="monitor_domain" value="" id="monitor_domain">

            <input type="submit" value="add"/>

        </form>
    </div>
{% endblock %}