{% extends "base.html" %}
{% load static %}
{% block content %}
    {% include "logout_module.html" %}
    <div class="card list-container">
    <p>Measurements from: {{ host.name }}</p>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Tag</th>
                <th>Measurement</th>
                <th>Metric</th>
                <th>Unit</th>
                <th>Max. value</th>
                <th>Action</th>
                <th>Graph</th>
            </tr>
            {% for resource in resources_list %}
                <tr>
                    <td>{% if resource.complex_mes %} <img src="{% static 'images\complex.png' %}"/> {% else %} <img src="{% static 'images\std.png' %}"/> {% endif %}</td>
                    <td>{{ resource.host }}</td>
                    <td>{{ resource.metric }}</td>
                    <td>{{ resource.unit }}</td>
                    <td>{{ resource.max_value }}</td>
                    <td><a href="{% url 'value' monitor_id host_id resource.values %}">show values</a> {% if not resource.complex_mes %} | <a href="{% url 'clear_values' monitor_id host_id resource.values %}">clear values</a> {%  endif %}{% if resource.complex_mes %} | <a href="{% url 'remove_complex' monitor_id host_id resource.values %}">remove complex</a>{% endif %}</td>
                    <td><a href="{% url 'graph' monitor_id host_id resource.values %}">Generate graph</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
