{% extends "base.html" %}
{% block content %}


<table class="table table-striped table-bordered">
<tr>
    <th>Host</th>
    <th>Metric</th>
    <th>Unit</th>
    <th>Max. value</th>
    <th>Action</th>
</tr>
{% for resource in resources_list %}
    <tr>
        <td>{{  resource.host }}</td>
        <td>{{  resource.metric }}</td>
        <td>{{  resource.unit }}</td>
        <td>{{  resource.max_value }}</td>
        <td><a href="{% url 'value' monitor_id host_id resource.values %}">show values</a></td>
    </tr>
{% endfor %}
</table>
