{% extends "base.html" %}
{% block content %}
    {% include "logout_module.html" %}
    <div class="card list-container">
        <p>{{ monitor_domain }} > {{ host_id }} > {{ measurement_id }}</p>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Datetime</th>
                <th>Value</th>
            </tr>
            {% for value in values_list %}
                <tr>
                    <td>{{ value.datetime }}</td>
                    <td>{{ value.value }}</td>
                </tr>
            {% endfor %}
        </table>
        <p><a href="{% url 'value' monitor_id host_id measurement_id 1 %}">first</a></p><p><a href="{% url 'value' monitor_id host_id measurement_id previous_index %}">previous</a></p><p><a href="{% url 'value' monitor_id host_id measurement_id next_index%}">next</a></p>
    </div>
{% endblock %}
