{% extends "base.html" %}
{% block content %}
    {% include "logout_module.html" %}
    <div class="card list-container">
        <table class="table table-striped table-bordered">
            <tr>
                <th>Datetime</th>
                <th>Value</th>
            </tr>
            {% for value in values_list %}
                <tr>
                    <td>{{ value.datetime }}</td>
                    <td>{{ value.value }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
